/*Обнуление*/
*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}
/*--------------------*/

body {
	height: auto;

	background: url('../img/Ellipse_1_copy@2x.png') 50% 0 no-repeat,#e8e8e8 fixed;
}
.content{
   margin-bottom: 100px;
   
}
.name {	
margin-left: 47%;
margin-top: 167px;
opacity: 0.6;
color: #273d46;
font-family: "Arial MT";
font-size: 14px;
font-weight: 400;
line-height: 40px;
text-transform: uppercase;
letter-spacing: 2.8px;
}
.name1 {
/* padding: 0 0 0 300px; */
margin-left: 23%;
color: #273d46;
font-family: "Times New Roman PSMT";
font-size: 36px;
font-weight: 400;
line-height: 50px;
}
.name1d {
	margin-left: 21%;
color: #273d46;
font-family: "Times New Roman PSMT";
font-size: 36px;
font-weight: 400;
line-height: 50px;
}
.img{
    padding: 5% 0 0 19% ;
	width: 821px;
    height: 541px;
}
.img img{
	border: 10px solid white;
}
.info{
padding: 180px;
margin-left: 110px;
width: 1150px;
opacity: 0.8;
color: #273d46;
font-family: "Times New Roman PSMT";
font-size: 24px;
font-weight: 400;
line-height: 40px;
}
.info .info2{
	margin-top: 50px;
}
ul .t1{
/* Style for "Put on thi" */
background: url('../img/check_icon.png') 360px 10px no-repeat;
text-shadow: 0 1px 0 rgba(0, 0, 0, 0);
color: #273d46;
font-family: "Arial MT";
font-size: 23px;
font-weight: 400;
line-height: 36px;
padding: 0 0 0 30%;
margin-top: -139px;
}
ul .t2{
	/* Style for "Put on thi" */
	background: url('../img/check_icon.png') 360px 0 no-repeat;
	text-shadow: 0 1px 0 rgba(0, 0, 0, 0);
	color: #80b7b3;
	font-family: "Arial MT";
	font-size: 23px;
	font-weight: 400;
	line-height: 36px;
	padding: 0 0 0 30%;

	}
	ul .t3{
		background: url('../img/check_icon.png') 360px 0 no-repeat;
		text-shadow: 0 1px 0 rgba(0, 0, 0, 0);
		color: #273d46;
		font-family: "Arial MT";
		font-size: 23px;
		font-weight: 700;
		line-height: 36px;
		padding: 0 0 0 30%;
		}
		ul .t4{
			background: url('../img/check_icon.png') 360px 0 no-repeat;
			text-shadow: 0 1px 0 rgba(0, 0, 0, 0);
			color: #273d46;
			font-family: "Arial MT";
			font-size: 23px;
			font-weight: 400;
			line-height: 36px;
			padding: 0 0 0 30%;
			text-decoration: line-through;
			opacity: 0.3;
			}
.bottom_fullStory{
	margin-left: 360px;
	display: inline-block;
	height: 44px;

	line-height: 60px;
	border-radius: 24px;
	padding: 0 30px;
	background: #80b7b3;
	box-shadow: 0 6px 40px rgba(128, 183, 179, 0.54);


color: #ffffff;
font-family: "Arial MT";
font-size: 14px;
font-weight: 400;
line-height: 40px;
text-transform: uppercase;
/* Text style for "Full Story" */
letter-spacing: 2.8px;
}
.bottom_fullStory span{
	padding: 0 32px 0 0 ;
	background: url('../img/Shape_2.png') right no-repeat
}